<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="dev.zwander.shared.RedirectActivity"
            android:exported="true">
            <intent-filter android:label="@string/protocol_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="web+lemmy" />
                <data android:scheme="web+kbin" />
                <data android:scheme="web+mbin" />
            </intent-filter>
            <intent-filter android:label="@string/http_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />

                <data android:host="0xdd.org.ru" />
                <data android:host="50501.chat" />
                <data android:host="adultswim.fan" />
                <data android:host="aggregatet.org" />
                <data android:host="alien.top" />
                <data android:host="altmedia.house" />
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="badatbeing.social" />
                <data android:host="beehaw.org" />
                <data android:host="belgae.social" />
                <data android:host="biglemmowski.win" />
                <data android:host="bin.pivox.net" />
                <data android:host="bin.pol.social" />
                <data android:host="bitforged.space" />
                <data android:host="blendit.bsd.cafe" />
                <data android:host="blog.kaki87.net" />
                <data android:host="blog.matrix.co.ua" />
                <data android:host="bolha.forum" />
                <data android:host="bookwormstory.social" />
                <data android:host="catata.fish" />
                <data android:host="chachara.club" />
                <data android:host="civilloquy.com" />
                <data android:host="collapse.cat" />
                <data android:host="communick.news" />
                <data android:host="corndog.social" />
                <data android:host="crazypeople.online" />
                <data android:host="diggita.com" />
                <data android:host="discuss.koyu.space" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="downonthestreet.eu" />
                <data android:host="dubvee.org" />
                <data android:host="dullsters.net" />
                <data android:host="endlesstalk.org" />
                <data android:host="europe.pub" />
                <data android:host="eviltoast.org" />
                <data android:host="fanaticus.social" />
                <data android:host="fasheng.ing" />
                <data android:host="fed.dyne.org" />
                <data android:host="feddit.bg" />
                <data android:host="feddit.cl" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.is" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.org" />
                <data android:host="feddit.uk" />
                <data android:host="fedia.io" />
                <data android:host="fedit.pl" />
                <data android:host="ferment.site" />
                <data android:host="fjdk.uk" />
                <data android:host="forum.ayom.media" />
                <data android:host="forum.mondom.eu" />
                <data android:host="forum.uncomfortable.business" />
                <data android:host="futurology.today" />
                <data android:host="geekroom.tech" />
                <data android:host="gehirneimer.de" />
                <data android:host="gregtech.eu" />
                <data android:host="group.lt" />
                <data android:host="hackertalks.com" />
                <data android:host="halubilo.social" />
                <data android:host="hilariouschaos.com" />
                <data android:host="hobbit.world" />
                <data android:host="ibbit.at" />
                <data android:host="info.prou.be" />
                <data android:host="infosec.pub" />
                <data android:host="k.fe.derate.me" />
                <data android:host="kbin.earth" />
                <data android:host="kbin.melroy.org" />
                <data android:host="kutsuya.dev" />
                <data android:host="kyu.de" />
                <data android:host="l.hostux.net" />
                <data android:host="l.mathers.fr" />
                <data android:host="l.mchome.net" />
                <data android:host="l.posterdati.it" />
                <data android:host="l.roofo.cc" />
                <data android:host="l.sw0.com" />
                <data android:host="lazysoci.al" />
                <data android:host="lebowski.social" />
                <data android:host="lef.li" />
                <data android:host="lem.free.as" />
                <data android:host="lem.serkozh.me" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemmings.world" />
                <data android:host="lemminielettrici.it" />
                <data android:host="lemmit.nyc.what.if.ua" />
                <data android:host="lemmit.ro" />
                <data android:host="lemmus.org" />
                <data android:host="lemmy.30p87.de" />
                <data android:host="lemmy.86thumbs.net" />
                <data android:host="lemmy.8th.world" />
                <data android:host="lemmy.ahall.se" />
                <data android:host="lemmy.amxl.com" />
                <data android:host="lemmy.asudox.dev" />
                <data android:host="lemmy.beru.co" />
                <data android:host="lemmy.bestiver.se" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.blugatch.tube" />
                <data android:host="lemmy.bmck.au" />
                <data android:host="lemmy.brandyapple.com" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.cafe" />
                <data android:host="lemmy.casasnow.noho.st" />
                <data android:host="lemmy.catgirl.biz" />
                <data android:host="lemmy.cif.su" />
                <data android:host="lemmy.cixoelectronic.pl" />
                <data android:host="lemmy.co.nz" />
                <data android:host="lemmy.coffee" />
                <data android:host="lemmy.cringecollective.io" />
                <data android:host="lemmy.criticalbasics.xyz" />
                <data android:host="lemmy.cronyakatsuki.xyz" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.deedium.nl" />
                <data android:host="lemmy.digitalfall.net" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.federate.cc" />
                <data android:host="lemmy.fedi.zutto.fi" />
                <data android:host="lemmy.fiftyfifty.one" />
                <data android:host="lemmy.fromshado.ws" />
                <data android:host="lemmy.frozeninferno.xyz" />
                <data android:host="lemmy.funami.tech" />
                <data android:host="lemmy.grey.fail" />
                <data android:host="lemmy.helios42.de" />
                <data android:host="lemmy.hogru.ch" />
                <data android:host="lemmy.horwood.cloud" />
                <data android:host="lemmy.inbutts.lol" />
                <data android:host="lemmy.jacaranda.club" />
                <data android:host="lemmy.jamesj999.co.uk" />
                <data android:host="lemmy.jelliefrontier.net" />
                <data android:host="lemmy.k2pk.com" />
                <data android:host="lemmy.kde.social" />
                <data android:host="lemmy.kya.moe" />
                <data android:host="lemmy.libertarianfellowship.org" />
                <data android:host="lemmy.lidstah.info" />
                <data android:host="lemmy.linuxuserspace.show" />
                <data android:host="lemmy.masto.community" />
                <data android:host="lemmy.max-p.me" />
                <data android:host="lemmy.mbl.social" />
                <data android:host="lemmy.mio19.uk" />
                <data android:host="lemmy.mistyreverie.org" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.monster" />
                <data android:host="lemmy.muffalings.com" />
                <data android:host="lemmy.multivers.cc" />
                <data android:host="lemmy.my-box.dev" />
                <data android:host="lemmy.myserv.one" />
                <data android:host="lemmy.nauk.io" />
                <data android:host="lemmy.nerdcore.social" />
                <data android:host="lemmy.net.au" />
                <data android:host="lemmy.nocturnal.garden" />
                <data android:host="lemmy.nullspace.lol" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.ohaa.xyz" />
                <data android:host="lemmy.okr765.com" />
                <data android:host="lemmy.one" />
                <data android:host="lemmy.onlylans.io" />
                <data android:host="lemmy.pt" />
                <data android:host="lemmy.radio" />
                <data android:host="lemmy.razbot.xyz" />
                <data android:host="lemmy.relayeasy.com" />
                <data android:host="lemmy.rmict.nl" />
                <data android:host="lemmy.saik0.com" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.secnd.me" />
                <data android:host="lemmy.shiny-task.com" />
                <data android:host="lemmy.sieprawski.pl" />
                <data android:host="lemmy.simpl.website" />
                <data android:host="lemmy.squids.ca" />
                <data android:host="lemmy.starlightkel.xyz" />
                <data android:host="lemmy.sumuun.net" />
                <data android:host="lemmy.super.ynh.fr" />
                <data android:host="lemmy.tgxn.net" />
                <data android:host="lemmy.throlk.im" />
                <data android:host="lemmy.toastdog.net" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.trippy.pizza" />
                <data android:host="lemmy.uninsane.org" />
                <data android:host="lemmy.vg" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.yachts" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmybefree.net" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmyis.fun" />
                <data android:host="lemmyland.com" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemy.lol" />
                <data android:host="lemy.nl" />
                <data android:host="links.gayfr.online" />
                <data android:host="linz.city" />
                <data android:host="literature.cafe" />
                <data android:host="lm.korako.me" />
                <data android:host="mander.xyz" />
                <data android:host="mbin.xi.ht" />
                <data android:host="mbin.xnor.me" />
                <data android:host="metawire.eu" />
                <data android:host="midwest.social" />
                <data android:host="moist.catsweat.com" />
                <data android:host="monero.town" />
                <data android:host="monyet.cc" />
                <data android:host="mtgzone.com" />
                <data android:host="mujico.org" />
                <data android:host="news.idlestate.org" />
                <data android:host="no.lastname.nz" />
                <data android:host="nodesphere.site" />
                <data android:host="notdigg.com" />
                <data android:host="orbiting.observer" />
                <data android:host="pawb.social" />
                <data android:host="philosophy.cafe" />
                <data android:host="poptalk.scrubbles.tech" />
                <data android:host="programming.dev" />
                <data android:host="quadball.app" />
                <data android:host="r.nf" />
                <data android:host="ragu.meadow.cafe" />
                <data android:host="realbitcoin.cash" />
                <data android:host="reddthat.com" />
                <data android:host="redlemmy.com" />
                <data android:host="rekabu.ru" />
                <data android:host="retrolemmy.com" />
                <data android:host="rimworld.gallery" />
                <data android:host="rollenspiel.forum" />
                <data android:host="sammich.es" />
                <data android:host="scribe.disroot.org" />
                <data android:host="sh.itjust.works" />
                <data android:host="shibanu.app" />
                <data android:host="social.ggbox.fr" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="sub.community" />
                <data android:host="sub.wetshaving.social" />
                <data android:host="suppo.fi" />
                <data android:host="szmer.info" />
                <data android:host="tech.pr0n.pl" />
                <data android:host="test.akk.moe" />
                <data android:host="thebrainbin.org" />
                <data android:host="thelemmy.club" />
                <data android:host="this.doesnotcut.it" />
                <data android:host="toast.ooo" />
                <data android:host="ttrpg.network" />
                <data android:host="tucson.social" />
                <data android:host="upvote.au" />
                <data android:host="vger.social" />
                <data android:host="walledgarden.xyz" />
                <data android:host="waterloolemmy.ca" />
                <data android:host="welppp.com" />
                <data android:host="what.forfi.win" />
                <data android:host="whatcom.social" />
                <data android:host="wired.bluemarch.art" />
                <data android:host="yall.theatl.social" />
                <data android:host="yups.io" />
            </intent-filter>
        </activity>
    </application>
</manifest>