<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="dev.zwander.shared.RedirectActivity"
            android:exported="true">
            <intent-filter android:label="@string/protocol_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="web+lemmy" />
                <data android:scheme="web+kbin" />
                <data android:scheme="web+mbin" />
            </intent-filter>
            <intent-filter android:label="@string/http_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />

                <data android:host="014450.xyz" />
                <data android:host="0xdd.org.ru" />
                <data android:host="1.federated.test.lem.rocks" />
                <data android:host="1337lemmy.com" />
                <data android:host="acqrs.co.uk" />
                <data android:host="actuallyruben.nl" />
                <data android:host="adultswim.fan" />
                <data android:host="aggregatet.org" />
                <data android:host="alien.top" />
                <data android:host="ani.social" />
                <data android:host="aussie.zone" />
                <data android:host="awful.systems" />
                <data android:host="badatbeing.social" />
                <data android:host="baraza.africa" />
                <data android:host="bbs.9tail.net" />
                <data android:host="beehaw.org" />
                <data android:host="biglemmowski.win" />
                <data android:host="bin.pol.social" />
                <data android:host="bitforged.space" />
                <data android:host="blendit.bsd.cafe" />
                <data android:host="board.minimally.online" />
                <data android:host="bolha.forum" />
                <data android:host="booja.ca" />
                <data android:host="bookwormstory.social" />
                <data android:host="borg.chat" />
                <data android:host="campfyre.nickwebster.dev" />
                <data android:host="casavaga.com" />
                <data android:host="catata.fish" />
                <data android:host="chinese.lol" />
                <data android:host="civilloquy.com" />
                <data android:host="collapse.cat" />
                <data android:host="communick.news" />
                <data android:host="community.ivedonestranger.xyz" />
                <data android:host="compuverse.uk" />
                <data android:host="corndog.social" />
                <data android:host="covert.nexus" />
                <data android:host="cyberpaws.lol" />
                <data android:host="derpzilla.net" />
                <data android:host="discuss.jacen.moe" />
                <data android:host="discuss.online" />
                <data android:host="discuss.tchncs.de" />
                <data android:host="doomscroll.n8e.dev" />
                <data android:host="dormi.zone" />
                <data android:host="drlemmy.net" />
                <data android:host="ds9.lemmy.ml" />
                <data android:host="dubvee.org" />
                <data android:host="dungeondaddy.org" />
                <data android:host="endlesstalk.org" />
                <data android:host="eventfrontier.com" />
                <data android:host="eviltoast.org" />
                <data android:host="falconry.party" />
                <data android:host="fanaticus.social" />
                <data android:host="fanexus.com" />
                <data android:host="fed.dyne.org" />
                <data android:host="feddit.cl" />
                <data android:host="feddit.de" />
                <data android:host="feddit.dk" />
                <data android:host="feddit.it" />
                <data android:host="feddit.nl" />
                <data android:host="feddit.nu" />
                <data android:host="feddit.ro" />
                <data android:host="feddit.rocks" />
                <data android:host="feddit.uk" />
                <data android:host="fedia.io" />
                <data android:host="fedimav.win" />
                <data android:host="fedinews.net" />
                <data android:host="fedit.pl" />
                <data android:host="fjdk.uk" />
                <data android:host="fl0w.cc" />
                <data android:host="foros.fediverso.gal" />
                <data android:host="forum.ayom.media" />
                <data android:host="forum.monkee.ch" />
                <data android:host="futurology.today" />
                <data android:host="gadgetro.id" />
                <data android:host="gehirneimer.de" />
                <data android:host="gioia.news" />
                <data android:host="group.lt" />
                <data android:host="hackertalks.com" />
                <data android:host="halubilo.social" />
                <data android:host="hexbear.net" />
                <data android:host="hilariouschaos.com" />
                <data android:host="hobbit.world" />
                <data android:host="hyperfair.link" />
                <data android:host="incremental.social" />
                <data android:host="info.prou.be" />
                <data android:host="infosec.pub" />
                <data android:host="jemmy.jeena.net" />
                <data android:host="jlai.lu" />
                <data android:host="k.fe.derate.me" />
                <data android:host="kbin.cafe" />
                <data android:host="kbin.chat" />
                <data android:host="kbin.earth" />
                <data android:host="kbin.life" />
                <data android:host="kbin.melroy.org" />
                <data android:host="kbin.nz" />
                <data android:host="kbin.pieho.me" />
                <data android:host="kbin.pithyphrase.net" />
                <data android:host="kbin.run" />
                <data android:host="kbin.social" />
                <data android:host="kbin.zerstoererbande.de" />
                <data android:host="krabb.org" />
                <data android:host="kulupu.duckdns.org" />
                <data android:host="kutsuya.dev" />
                <data android:host="kx.pontual.social" />
                <data android:host="kyu.de" />
                <data android:host="l.henlo.fi" />
                <data android:host="l.ltgc.cc" />
                <data android:host="l.mchome.net" />
                <data android:host="l.roofo.cc" />
                <data android:host="l.shoddy.site" />
                <data android:host="l.sw0.com" />
                <data android:host="lazysoci.al" />
                <data android:host="leaf.dance" />
                <data android:host="lebowski.social" />
                <data android:host="lef.li" />
                <data android:host="lem.free.as" />
                <data android:host="lem.monster" />
                <data android:host="lemdro.id" />
                <data android:host="leminal.space" />
                <data android:host="lemm.ee" />
                <data android:host="lemmings.sopelj.ca" />
                <data android:host="lemmings.world" />
                <data android:host="lemmus.org" />
                <data android:host="lemmy.505dude.com" />
                <data android:host="lemmy.86thumbs.net" />
                <data android:host="lemmy.8th.world" />
                <data android:host="lemmy.ahall.se" />
                <data android:host="lemmy.amxl.com" />
                <data android:host="lemmy.ananace.dev" />
                <data android:host="lemmy.anonion.social" />
                <data android:host="lemmy.basedcount.com" />
                <data android:host="lemmy.beru.co" />
                <data android:host="lemmy.best" />
                <data android:host="lemmy.billiam.net" />
                <data android:host="lemmy.bitgoblin.tech" />
                <data android:host="lemmy.blahaj.zone" />
                <data android:host="lemmy.bleh.au" />
                <data android:host="lemmy.blugatch.tube" />
                <data android:host="lemmy.bmck.au" />
                <data android:host="lemmy.bosio.info" />
                <data android:host="lemmy.ca" />
                <data android:host="lemmy.cafe" />
                <data android:host="lemmy.calvss.com" />
                <data android:host="lemmy.capebreton.social" />
                <data android:host="lemmy.catgirl.biz" />
                <data android:host="lemmy.chaos.berlin" />
                <data android:host="lemmy.chiisana.net" />
                <data android:host="lemmy.cloudhub.social" />
                <data android:host="lemmy.comfysnug.space" />
                <data android:host="lemmy.conorab.com" />
                <data android:host="lemmy.crimedad.work" />
                <data android:host="lemmy.croc.pw" />
                <data android:host="lemmy.cronyakatsuki.xyz" />
                <data android:host="lemmy.d.thewooskeys.com" />
                <data android:host="lemmy.darvit.nl" />
                <data android:host="lemmy.dbzer0.com" />
                <data android:host="lemmy.deedium.nl" />
                <data android:host="lemmy.dexlit.xyz" />
                <data android:host="lemmy.dormedas.com" />
                <data android:host="lemmy.duck.cafe" />
                <data android:host="lemmy.dynatron.me" />
                <data android:host="lemmy.eatsleepcode.ca" />
                <data android:host="lemmy.eco.br" />
                <data android:host="lemmy.enchanted.social" />
                <data android:host="lemmy.federate.cc" />
                <data android:host="lemmy.fedifriends.social" />
                <data android:host="lemmy.fornaxian.tech" />
                <data android:host="lemmy.fosshost.com" />
                <data android:host="lemmy.foxel.org" />
                <data android:host="lemmy.fromshado.ws" />
                <data android:host="lemmy.frozeninferno.xyz" />
                <data android:host="lemmy.funami.tech" />
                <data android:host="lemmy.fwgx.uk" />
                <data android:host="lemmy.garudalinux.org" />
                <data android:host="lemmy.giftedmc.com" />
                <data android:host="lemmy.glasgow.social" />
                <data android:host="lemmy.globe.pub" />
                <data android:host="lemmy.grys.it" />
                <data android:host="lemmy.helios42.de" />
                <data android:host="lemmy.hogru.ch" />
                <data android:host="lemmy.horwood.cloud" />
                <data android:host="lemmy.id" />
                <data android:host="lemmy.inbutts.lol" />
                <data android:host="lemmy.institute" />
                <data android:host="lemmy.jacaranda.club" />
                <data android:host="lemmy.jamesj999.co.uk" />
                <data android:host="lemmy.janiak.cc" />
                <data android:host="lemmy.jmtr.org" />
                <data android:host="lemmy.jnks.xyz" />
                <data android:host="lemmy.johnnei.org" />
                <data android:host="lemmy.kde.social" />
                <data android:host="lemmy.keychat.org" />
                <data android:host="lemmy.kikuri.moe" />
                <data android:host="lemmy.kya.moe" />
                <data android:host="lemmy.lacaveatonton.ovh" />
                <data android:host="lemmy.linuxuserspace.show" />
                <data android:host="lemmy.lukeog.com" />
                <data android:host="lemmy.magnor.ovh" />
                <data android:host="lemmy.marud.fr" />
                <data android:host="lemmy.max-p.me" />
                <data android:host="lemmy.mbirth.uk" />
                <data android:host="lemmy.mbl.social" />
                <data android:host="lemmy.mebitek.com" />
                <data android:host="lemmy.megumin.org" />
                <data android:host="lemmy.menf.in" />
                <data android:host="lemmy.menos.gotdns.org" />
                <data android:host="lemmy.mindoki.com" />
                <data android:host="lemmy.ml" />
                <data android:host="lemmy.mods4ever.com" />
                <data android:host="lemmy.monster" />
                <data android:host="lemmy.moocloud.party" />
                <data android:host="lemmy.muffalings.com" />
                <data android:host="lemmy.multivers.cc" />
                <data android:host="lemmy.muzako.xyz" />
                <data android:host="lemmy.myserv.one" />
                <data android:host="lemmy.nauk.io" />
                <data android:host="lemmy.nekusoul.de" />
                <data android:host="lemmy.nerdcore.social" />
                <data android:host="lemmy.nexus" />
                <data android:host="lemmy.noice.social" />
                <data android:host="lemmy.nowsci.com" />
                <data android:host="lemmy.nyc.what.if.ua" />
                <data android:host="lemmy.nz" />
                <data android:host="lemmy.ohaa.xyz" />
                <data android:host="lemmy.one" />
                <data android:host="lemmy.onlylans.io" />
                <data android:host="lemmy.org" />
                <data android:host="lemmy.pe1uca.dev" />
                <data android:host="lemmy.physfluids.fr" />
                <data android:host="lemmy.pierre-couy.fr" />
                <data android:host="lemmy.pixelcollider.net" />
                <data android:host="lemmy.potatoe.ca" />
                <data android:host="lemmy.procrastinati.org" />
                <data android:host="lemmy.prograhamming.com" />
                <data android:host="lemmy.pt" />
                <data android:host="lemmy.pussthecat.org" />
                <data android:host="lemmy.radio" />
                <data android:host="lemmy.razbot.xyz" />
                <data android:host="lemmy.remotelab.uk" />
                <data android:host="lemmy.saik0.com" />
                <data android:host="lemmy.scam-mail.me" />
                <data android:host="lemmy.schuerz.at" />
                <data android:host="lemmy.sdf.org" />
                <data android:host="lemmy.sdfeu.org" />
                <data android:host="lemmy.self-hosted.site" />
                <data android:host="lemmy.shiny-task.com" />
                <data android:host="lemmy.shtuf.eu" />
                <data android:host="lemmy.simpl.website" />
                <data android:host="lemmy.skoops.social" />
                <data android:host="lemmy.smeargle.fans" />
                <data android:host="lemmy.socdojo.com" />
                <data android:host="lemmy.sotu.casa" />
                <data android:host="lemmy.spacestation14.com" />
                <data android:host="lemmy.ssba.com" />
                <data android:host="lemmy.staphup.nl" />
                <data android:host="lemmy.starlightkel.xyz" />
                <data android:host="lemmy.stefanoprenna.com" />
                <data android:host="lemmy.stuart.fun" />
                <data android:host="lemmy.sumuun.net" />
                <data android:host="lemmy.team" />
                <data android:host="lemmy.tellyou.social" />
                <data android:host="lemmy.tespia.org" />
                <data android:host="lemmy.tf" />
                <data android:host="lemmy.tgxn.net" />
                <data android:host="lemmy.thenewgaming.de" />
                <data android:host="lemmy.today" />
                <data android:host="lemmy.toldi.eu" />
                <data android:host="lemmy.tr00st.co.uk" />
                <data android:host="lemmy.trippy.pizza" />
                <data android:host="lemmy.ubergeek77.chat" />
                <data android:host="lemmy.uhhoh.com" />
                <data android:host="lemmy.umucat.day" />
                <data android:host="lemmy.unboiled.info" />
                <data android:host="lemmy.uninsane.org" />
                <data android:host="lemmy.whynotdrs.org" />
                <data android:host="lemmy.works" />
                <data android:host="lemmy.world" />
                <data android:host="lemmy.wtf" />
                <data android:host="lemmy.yachts" />
                <data android:host="lemmy.zip" />
                <data android:host="lemmy.zxcvn.xyz" />
                <data android:host="lemmyf.uk" />
                <data android:host="lemmyfi.com" />
                <data android:host="lemmygrad.ml" />
                <data android:host="lemmyis.fun" />
                <data android:host="lemmyland.com" />
                <data android:host="lemmynsfw.com" />
                <data android:host="lemmyonline.com" />
                <data android:host="lemmys.hivemind.at" />
                <data android:host="lemmyunchained.net" />
                <data android:host="lemux.minnix.dev" />
                <data android:host="lemy.lol" />
                <data android:host="lemy.nl" />
                <data android:host="libretechni.ca" />
                <data android:host="linkage.ds8.zone" />
                <data android:host="links.gayfr.online" />
                <data android:host="links.hackliberty.org" />
                <data android:host="links.rocks" />
                <data android:host="links.roobre.es" />
                <data android:host="linux.community" />
                <data android:host="linz.city" />
                <data android:host="literature.cafe" />
                <data android:host="lm.inu.is" />
                <data android:host="lm.korako.me" />
                <data android:host="lm.madiator.cloud" />
                <data android:host="lm.paradisus.day" />
                <data android:host="lmy.brx.io" />
                <data android:host="lonestarlemmy.mooo.com" />
                <data android:host="lu.skbo.net" />
                <data android:host="lululemmy.com" />
                <data android:host="mander.xyz" />
                <data android:host="mbin.grits.dev" />
                <data android:host="mbin.kyanos.one" />
                <data android:host="midwest.social" />
                <data android:host="mimiclem.me" />
                <data android:host="moist.catsweat.com" />
                <data android:host="monero.town" />
                <data android:host="monyet.cc" />
                <data android:host="mtgzone.com" />
                <data android:host="mujico.org" />
                <data android:host="news.idlestate.org" />
                <data android:host="nexxis.social" />
                <data android:host="nicelink.me" />
                <data android:host="no.lastname.nz" />
                <data android:host="nom.mom" />
                <data android:host="notdigg.com" />
                <data android:host="orbiting.observer" />
                <data android:host="orcas.enjoying.yachts" />
                <data android:host="parenti.sh" />
                <data android:host="pawb.social" />
                <data android:host="polesie.pol.social" />
                <data android:host="poptalk.scrubbles.tech" />
                <data android:host="possumpat.io" />
                <data android:host="preserve.games" />
                <data android:host="pricefield.org" />
                <data android:host="programming.dev" />
                <data android:host="proit.org" />
                <data android:host="psychedelia.ink" />
                <data android:host="qlemmy.com" />
                <data android:host="quokk.au" />
                <data android:host="r-sauna.fi" />
                <data android:host="r.nf" />
                <data android:host="radiation.party" />
                <data android:host="rblind.com" />
                <data android:host="real.lemmy.fan" />
                <data android:host="reddeet.com" />
                <data android:host="reddrefuge.com" />
                <data android:host="reddthat.com" />
                <data android:host="rekabu.ru" />
                <data android:host="retrolemmy.com" />
                <data android:host="rimworld.gallery" />
                <data android:host="rollenspiel.forum" />
                <data android:host="rqd2.net" />
                <data android:host="s.jape.work" />
                <data android:host="seemel.ink" />
                <data android:host="sffa.community" />
                <data android:host="sh.itjust.works" />
                <data android:host="slrpnk.net" />
                <data android:host="social.bug.expert" />
                <data android:host="social.ggbox.fr" />
                <data android:host="social.packetloss.gg" />
                <data android:host="social.rocketsfall.net" />
                <data android:host="social.tath.link" />
                <data android:host="sopuli.xyz" />
                <data android:host="startrek.website" />
                <data android:host="sub.wetshaving.social" />
                <data android:host="supermeter.social" />
                <data android:host="suppo.fi" />
                <data android:host="support.futbol" />
                <data android:host="swg-empire.de" />
                <data android:host="szmer.info" />
                <data android:host="tacobu.de" />
                <data android:host="thebrainbin.org" />
                <data android:host="thelemmy.club" />
                <data android:host="this.doesnotcut.it" />
                <data android:host="tkohhh.social" />
                <data android:host="toast.ooo" />
                <data android:host="ttrpg.network" />
                <data android:host="tucson.social" />
                <data android:host="ukfli.uk" />
                <data android:host="upvote.au" />
                <data android:host="vger.social" />
                <data android:host="voyager.lemmy.ml" />
                <data android:host="wiku.hu" />
                <data android:host="wired.bluemarch.art" />
                <data android:host="yall.theatl.social" />
                <data android:host="yiffit.net" />
                <data android:host="ythreektech.com" />
            </intent-filter>
        </activity>
    </application>
</manifest>