<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="dev.zwander.shared.RedirectActivity"
            android:exported="true">
            <intent-filter android:label="@string/protocol_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="web+peertube" />
            </intent-filter>
            <intent-filter android:label="@string/http_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />

                <data android:host="alterscope.fr" />
                <data android:host="aperi.tube" />
                <data android:host="area51.media" />
                <data android:host="astrotube-ufe.obspm.fr" />
                <data android:host="astrotube.obspm.fr" />
                <data android:host="avantwhatever.xyz" />
                <data android:host="bark.video" />
                <data android:host="battlepenguin.video" />
                <data android:host="bee-tube.fr" />
                <data android:host="bestgore.fun" />
                <data android:host="beta.flimmerstunde.xyz" />
                <data android:host="bideoak.argia.eus" />
                <data android:host="bideoteka.eus" />
                <data android:host="birdtu.be" />
                <data android:host="bitcointv.com" />
                <data android:host="bitforged.stream" />
                <data android:host="bonn.video" />
                <data android:host="canard.tube" />
                <data android:host="cast.garden" />
                <data android:host="christian.freediverse.com" />
                <data android:host="christunscripted.com" />
                <data android:host="cinema.yunohost.support" />
                <data android:host="classe.iro.umontreal.ca" />
                <data android:host="conf.tube" />
                <data android:host="cumraci.tv" />
                <data android:host="dangly.parts" />
                <data android:host="davbot.media" />
                <data android:host="digitalcourage.video" />
                <data android:host="dioxitube.com" />
                <data android:host="edflix.nl" />
                <data android:host="eggflix.foolbazar.eu" />
                <data android:host="evangelisch.video" />
                <data android:host="evilfactorylabs.social" />
                <data android:host="exode.me" />
                <data android:host="fair.tube" />
                <data android:host="fedi.video" />
                <data android:host="fedifilm.com" />
                <data android:host="feditubo.labaudric.net" />
                <data android:host="fediverse.tv" />
                <data android:host="film.node9.org" />
                <data android:host="fire.itwien.net" />
                <data android:host="flipboard.video" />
                <data android:host="flooftube.net" />
                <data android:host="fontube.fr" />
                <data android:host="foss.video" />
                <data android:host="fotogramas.politicaconciencia.org" />
                <data android:host="freedom.fossfarmers.company" />
                <data android:host="freedomtv.pro" />
                <data android:host="freesoto.tv" />
                <data android:host="freestreamer.de" />
                <data android:host="friprogramvarusyndikatet.tv" />
                <data android:host="fstube.net" />
                <data android:host="garr.tv" />
                <data android:host="go3.site" />
                <data android:host="goredb.com" />
                <data android:host="gorf.tube" />
                <data android:host="greatview.video" />
                <data android:host="grypstube.uni-greifswald.de" />
                <data android:host="hyperreal.tube" />
                <data android:host="ibbwstream.schule-bw.de" />
                <data android:host="indymotion.fr" />
                <data android:host="intelligentia.tv" />
                <data android:host="irrsinn.video" />
                <data android:host="k-pop.22x22.ru" />
                <data android:host="kadras.live" />
                <data android:host="kolektiva.media" />
                <data android:host="krdtube.org" />
                <data android:host="leffler.video" />
                <data android:host="legumelads.online" />
                <data android:host="live.libratoi.org" />
                <data android:host="live.solari.com" />
                <data android:host="lone.earth" />
                <data android:host="lounges.monster" />
                <data android:host="media.cooleysekula.net" />
                <data android:host="media.interior.edu.uy" />
                <data android:host="media.mwit.ac.th" />
                <data android:host="media.privacyinternational.org" />
                <data android:host="media.smz-ma.de" />
                <data android:host="media.theplattform.net" />
                <data android:host="media.undeadnetwork.de" />
                <data android:host="mediathek.rzgierskopp.de" />
                <data android:host="merci-la-police.fr" />
                <data android:host="mix.video" />
                <data android:host="moderndaywizards.org" />
                <data android:host="movie.tkngh.jp" />
                <data android:host="my-sunshine.video" />
                <data android:host="mystic.video" />
                <data android:host="mytube.cooltux.net" />
                <data android:host="nanawel-peertube.dyndns.org" />
                <data android:host="neat.tube" />
                <data android:host="nekopunktube.fr" />
                <data android:host="neshweb.tv" />
                <data android:host="nicecrew.tv" />
                <data android:host="nightshift.minnix.dev" />
                <data android:host="openmedia.edunova.it" />
                <data android:host="opentube.rfx.fi" />
                <data android:host="outcast.am" />
                <data android:host="ovaltube.codinglab.ch" />
                <data android:host="owotube.ru" />
                <data android:host="p.efg-ober-ramstadt.de" />
                <data android:host="p.lu" />
                <data android:host="p.nintendojo.fr" />
                <data android:host="p2ptube.us" />
                <data android:host="peer.acidfog.com" />
                <data android:host="peer.i6p.ru" />
                <data android:host="peer.lukeog.com" />
                <data android:host="peer.mrschneeball.xyz" />
                <data android:host="peer.raise-uav.com" />
                <data android:host="peertube-blablalinux.be" />
                <data android:host="peertube-ecogather-u20874.vm.elestio.app" />
                <data android:host="peertube.1312.media" />
                <data android:host="peertube.2i2l.net" />
                <data android:host="peertube.2tonwaffle.com" />
                <data android:host="peertube.adresse.data.gouv.fr" />
                <data android:host="peertube.anasodon.com" />
                <data android:host="peertube.anon-kenkai.com" />
                <data android:host="peertube.anti-logic.com" />
                <data android:host="peertube.art3mis.de" />
                <data android:host="peertube.bildung-ekhn.de" />
                <data android:host="peertube.bingo-ev.de" />
                <data android:host="peertube.bubuit.net" />
                <data android:host="peertube.casually.cat" />
                <data android:host="peertube.ch" />
                <data android:host="peertube.chaunchy.com" />
                <data android:host="peertube.chuggybumba.com" />
                <data android:host="peertube.cirkau.art" />
                <data android:host="peertube.cluster.wtf" />
                <data android:host="peertube.cocamserverguild.com" />
                <data android:host="peertube.communecter.org" />
                <data android:host="peertube.cpy.re" />
                <data android:host="peertube.dc.pini.fr" />
                <data android:host="peertube.debian.social" />
                <data android:host="peertube.designersethiques.org" />
                <data android:host="peertube.dubwise.dk" />
                <data android:host="peertube.education-forum.com" />
                <data android:host="peertube.ethibox.fr" />
                <data android:host="peertube.eticadigital.eu" />
                <data android:host="peertube.euskarabildua.eus" />
                <data android:host="peertube.existiert.ch" />
                <data android:host="peertube.fedi.zutto.fi" />
                <data android:host="peertube.fenarinarsa.com" />
                <data android:host="peertube.florentcurk.com" />
                <data android:host="peertube.fototjansterkalmar.com" />
                <data android:host="peertube.fr" />
                <data android:host="peertube.funkfeuer.at" />
                <data android:host="peertube.gaialabs.ch" />
                <data android:host="peertube.gargantia.fr" />
                <data android:host="peertube.gegeweb.eu" />
                <data android:host="peertube.ghis94.ovh" />
                <data android:host="peertube.gidikroon.eu" />
                <data android:host="peertube.giftedmc.com" />
                <data android:host="peertube.gravitywell.xyz" />
                <data android:host="peertube.hackerfoo.com" />
                <data android:host="peertube.helvetet.eu" />
                <data android:host="peertube.ichigo.everydayimshuflin.com" />
                <data android:host="peertube.in.ua" />
                <data android:host="peertube.kaleidos.net" />
                <data android:host="peertube.kcore.org" />
                <data android:host="peertube.keazilla.net" />
                <data android:host="peertube.kleph.eu" />
                <data android:host="peertube.kx.studio" />
                <data android:host="peertube.laas.fr" />
                <data android:host="peertube.laguixeta.cat" />
                <data android:host="peertube.lagvoid.com" />
                <data android:host="peertube.lhc.net.br" />
                <data android:host="peertube.libresolutions.network" />
                <data android:host="peertube.libretic.fr" />
                <data android:host="peertube.luga.at" />
                <data android:host="peertube.lyceeconnecte.fr" />
                <data android:host="peertube.martiabernathey.com" />
                <data android:host="peertube.marud.fr" />
                <data android:host="peertube.meditationsteps.org" />
                <data android:host="peertube.mikemestnik.net" />
                <data android:host="peertube.mycreationhaven.com" />
                <data android:host="peertube.mygaia.org" />
                <data android:host="peertube.nadeko.net" />
                <data android:host="peertube.naln1.ca" />
                <data android:host="peertube.nicolastissot.fr" />
                <data android:host="peertube.nogafam.fr" />
                <data android:host="peertube.openstreetmap.fr" />
                <data android:host="peertube.otakufarms.com" />
                <data android:host="peertube.parenti.net" />
                <data android:host="peertube.pcservice46.fr" />
                <data android:host="peertube.pix-n-chill.fr" />
                <data android:host="peertube.plataformess.org" />
                <data android:host="peertube.qontinuum.space" />
                <data android:host="peertube.r2.enst.fr" />
                <data android:host="peertube.red" />
                <data android:host="peertube.redpill-insight.com" />
                <data android:host="peertube.researchinstitute.at" />
                <data android:host="peertube.rougevertbleu.tv" />
                <data android:host="peertube.roundpond.net" />
                <data android:host="peertube.s2s.video" />
                <data android:host="peertube.satoshishop.de" />
                <data android:host="peertube.scd31.com" />
                <data android:host="peertube.semperpax.com" />
                <data android:host="peertube.sensin.eu" />
                <data android:host="peertube.solidev.net" />
                <data android:host="peertube.stattzeitung.org" />
                <data android:host="peertube.stream" />
                <data android:host="peertube.takeko.cyou" />
                <data android:host="peertube.tata.casa" />
                <data android:host="peertube.teftera.com" />
                <data android:host="peertube.th3rdsergeevich.xyz" />
                <data android:host="peertube.thx8te.kh.ua" />
                <data android:host="peertube.tmp.rcp.tf" />
                <data android:host="peertube.tweb.tv" />
                <data android:host="peertube.ucy.de" />
                <data android:host="peertube.uno" />
                <data android:host="peertube.vhack.eu" />
                <data android:host="peertube.virtual-assembly.org" />
                <data android:host="peertube.we-keys.fr" />
                <data android:host="peertube.winscloud.net" />
                <data android:host="peertube.xwiki.com" />
                <data android:host="peertube.zmuuf.org" />
                <data android:host="peertube3.cpy.re" />
                <data android:host="periscope.numenaute.org" />
                <data android:host="phijkchu.com" />
                <data android:host="phoenixproject.group" />
                <data android:host="po0.online" />
                <data android:host="poast.tv" />
                <data android:host="podlibre.video" />
                <data android:host="pointless.tube" />
                <data android:host="portal.digilab.nfa.cz" />
                <data android:host="przej.me" />
                <data android:host="pt.freedomwolf.cc" />
                <data android:host="pt.mezzo.moe" />
                <data android:host="pt.rikkalab.net" />
                <data android:host="pt.thishorsie.rocks" />
                <data android:host="pt01.lehrerfortbildung-bw.de" />
                <data android:host="ptb.lunarviews.net" />
                <data android:host="punktube.net" />
                <data android:host="puppet.zone" />
                <data android:host="rankett.net" />
                <data android:host="rednose.porotokka.net" />
                <data android:host="retvrn.tv" />
                <data android:host="review.peertube.biz" />
                <data android:host="s1.vnchich.vip" />
                <data android:host="scitech.video" />
                <data android:host="sdmtube.fr" />
                <data android:host="see.ellipsenpark.de" />
                <data android:host="seka.pona.la" />
                <data android:host="serialz.top" />
                <data android:host="share.tube" />
                <data android:host="skeptikon.fr" />
                <data android:host="skeptube.fr" />
                <data android:host="spectra.video" />
                <data android:host="st.fdel.moe" />
                <data android:host="starlink.p2ptube.us" />
                <data android:host="stray.video" />
                <data android:host="stream.gigaohm.bio" />
                <data android:host="stream.homelab.gabb.fr" />
                <data android:host="stream.udk-berlin.de" />
                <data android:host="streamsource.video" />
                <data android:host="subscribeto.me" />
                <data android:host="tilvids.com" />
                <data android:host="tube-cycle-2.apps.education.fr" />
                <data android:host="tube-cycle-3.apps.education.fr" />
                <data android:host="tube.alado.space" />
                <data android:host="tube.alphonso.fr" />
                <data android:host="tube.anjara.eu" />
                <data android:host="tube.aquilenet.fr" />
                <data android:host="tube.area404.cloud" />
                <data android:host="tube.arthack.nz" />
                <data android:host="tube.artvage.com" />
                <data android:host="tube.asulia.fr" />
                <data android:host="tube.azbyka.ru" />
                <data android:host="tube.bawü.social" />
                <data android:host="tube.beit.hinrichs.cc" />
                <data android:host="tube.buchstoa-tv.at" />
                <data android:host="tube.calculate.social" />
                <data android:host="tube.chach.org" />
                <data android:host="tube.chaun14.fr" />
                <data android:host="tube.childrenshealthdefense.eu" />
                <data android:host="tube.croustifed.net" />
                <data android:host="tube.cyano.at" />
                <data android:host="tube.dembased.xyz" />
                <data android:host="tube.distrilab.fr" />
                <data android:host="tube.doctors4covidethics.org" />
                <data android:host="tube.doortofreedom.org" />
                <data android:host="tube.erzbistum-hamburg.de" />
                <data android:host="tube.extinctionrebellion.fr" />
                <data android:host="tube.fdn.fr" />
                <data android:host="tube.fede.re" />
                <data android:host="tube.felinn.org" />
                <data android:host="tube.funil.de" />
                <data android:host="tube.futuretic.fr" />
                <data android:host="tube.g1zm0.de" />
                <data android:host="tube.gaiac.io" />
                <data android:host="tube.garrett.life" />
                <data android:host="tube.ghk-academy.info" />
                <data android:host="tube.gi-it.de" />
                <data android:host="tube.hoga.fr" />
                <data android:host="tube.homecomputing.fr" />
                <data android:host="tube.int5.net" />
                <data android:host="tube.interhacker.space" />
                <data android:host="tube.jeena.net" />
                <data android:host="tube.kai-stuht.com" />
                <data android:host="tube.kansanvalta.org" />
                <data android:host="tube.kekmahub.com" />
                <data android:host="tube.kh-berlin.de" />
                <data android:host="tube.kla.tv" />
                <data android:host="tube.kotocoop.org" />
                <data android:host="tube.lokad.com" />
                <data android:host="tube.matrix.rocks" />
                <data android:host="tube.me.jon-e.net" />
                <data android:host="tube.midov.pl" />
                <data android:host="tube.moep.tv" />
                <data android:host="tube.morozoff.pro" />
                <data android:host="tube.nestor.coop" />
                <data android:host="tube.nogafa.org" />
                <data android:host="tube.nox-rhea.org" />
                <data android:host="tube.nuagelibre.fr" />
                <data android:host="tube.onlinekirche.net" />
                <data android:host="tube.openclipsis.top" />
                <data android:host="tube.p2p.legal" />
                <data android:host="tube.pari.cafe" />
                <data android:host="tube.picasoft.net" />
                <data android:host="tube.pifferi.io" />
                <data android:host="tube.pol.social" />
                <data android:host="tube.polytech-reseau.org" />
                <data android:host="tube.portes-imaginaire.org" />
                <data android:host="tube.rebellion.global" />
                <data android:host="tube.rhythms-of-resistance.org" />
                <data android:host="tube.risedsky.ovh" />
                <data android:host="tube.rooty.fr" />
                <data android:host="tube.rsi.cnr.it" />
                <data android:host="tube.ryne.moe" />
                <data android:host="tube.sasek.tv" />
                <data android:host="tube.schule.social" />
                <data android:host="tube.sekretaerbaer.net" />
                <data android:host="tube.shanti.cafe" />
                <data android:host="tube.shela.nu" />
                <data android:host="tube.source.news" />
                <data android:host="tube.sp-codes.de" />
                <data android:host="tube.spdns.org" />
                <data android:host="tube.systerserver.net" />
                <data android:host="tube.techeasy.org" />
                <data android:host="tube.tilera.xyz" />
                <data android:host="tube.tinfoil-hat.net" />
                <data android:host="tube.towards.vision" />
                <data android:host="tube.troopers.agency" />
                <data android:host="tube.ttk.is" />
                <data android:host="tube.unkonvention.de" />
                <data android:host="tube.vencabot.com" />
                <data android:host="tube.vrpnet.org" />
                <data android:host="tube4.apolut.net" />
                <data android:host="tubedu.org" />
                <data android:host="tux-edu.tv" />
                <data android:host="tv.animalcracker.art" />
                <data android:host="tv.arns.lt" />
                <data android:host="tv.based.quest" />
                <data android:host="tv.cuates.net" />
                <data android:host="tv.dyne.org" />
                <data android:host="tv.farewellutopia.com" />
                <data android:host="tv.filmfreedom.net" />
                <data android:host="tv.gravitons.org" />
                <data android:host="tv.mattchristiansenmedia.com" />
                <data android:host="tv.nizika.tv" />
                <data android:host="tv.santic-zombie.ru" />
                <data android:host="tv.suwerenni.org" />
                <data android:host="tv.undersco.re" />
                <data android:host="tvox.ru" />
                <data android:host="tweoo.com" />
                <data android:host="urbanists.video" />
                <data android:host="v.blustery.day" />
                <data android:host="v.hotnike.com" />
                <data android:host="v.kyaru.xyz" />
                <data android:host="v.posm.gay" />
                <data android:host="v1.smartit.nu" />
                <data android:host="vamzdis.group.lt" />
                <data android:host="varis.tv" />
                <data android:host="veedeo.org" />
                <data android:host="vibeos.grampajoe.online" />
                <data android:host="vid.cthos.dev" />
                <data android:host="vid.fossdle.org" />
                <data android:host="vid.jittr.click" />
                <data android:host="vid.kinuseka.us" />
                <data android:host="vid.mkp.ca" />
                <data android:host="vid.nocogabriel.fr" />
                <data android:host="vid.northbound.online" />
                <data android:host="vid.pretok.tv" />
                <data android:host="vid.ryg.one" />
                <data android:host="vid.samtripoli.com" />
                <data android:host="vid.twhtv.club" />
                <data android:host="vid.wildeboer.net" />
                <data android:host="videa.inspirujici.cz" />
                <data android:host="video.076.moe" />
                <data android:host="video.1146.nohost.me" />
                <data android:host="video.abraum.de" />
                <data android:host="video.administrieren.net" />
                <data android:host="video.alton.cloud" />
                <data android:host="video.amiga-ng.org" />
                <data android:host="video.anaproy.nl" />
                <data android:host="video.anartist.org" />
                <data android:host="video.arghacademy.org" />
                <data android:host="video.barcelo.ynh.fr" />
                <data android:host="video.bastetrix.org" />
                <data android:host="video.benetou.fr" />
                <data android:host="video.bgeneric.net" />
                <data android:host="video.bilecik.edu.tr" />
                <data android:host="video.blazma.st" />
                <data android:host="video.blender.org" />
                <data android:host="video.boxingpreacher.me" />
                <data android:host="video.canadiancivil.com" />
                <data android:host="video.cigliola.com" />
                <data android:host="video.citizen4.eu" />
                <data android:host="video.cnr.it" />
                <data android:host="video.coffeebean.social" />
                <data android:host="video.colibris-outilslibres.org" />
                <data android:host="video.coyp.us" />
                <data android:host="video.davejansen.com" />
                <data android:host="video.dhamdomum.ynh.fr" />
                <data android:host="video.dlearning.nl" />
                <data android:host="video.echelon.pl" />
                <data android:host="video.echirolles.fr" />
                <data android:host="video.eientei.org" />
                <data android:host="video.europalestine.com" />
                <data android:host="video.everythingbagel.me" />
                <data android:host="video.expiredpopsicle.com" />
                <data android:host="video.extremelycorporate.ca" />
                <data android:host="video.fabiomanganiello.com" />
                <data android:host="video.fabriquedelatransition.fr" />
                <data android:host="video.firehawk-systems.com" />
                <data android:host="video.fox-romka.ru" />
                <data android:host="video.g3l.org" />
                <data android:host="video.gamerstavern.online" />
                <data android:host="video.gemeinde-pflanzen.net" />
                <data android:host="video.graine-pdl.org" />
                <data android:host="video.gresille.org" />
                <data android:host="video.gyt.is" />
                <data android:host="video.hardlimit.com" />
                <data android:host="video.icic.law" />
                <data android:host="video.infojournal.fr" />
                <data android:host="video.infosec.exchange" />
                <data android:host="video.internet-czas-dzialac.pl" />
                <data android:host="video.ipng.ch" />
                <data android:host="video.jigmedatse.com" />
                <data android:host="video.katehildenbrand.com" />
                <data android:host="video.kuba-orlik.name" />
                <data android:host="video.lacalligramme.fr" />
                <data android:host="video.lamer-ethos.site" />
                <data android:host="video.lanceurs-alerte.fr" />
                <data android:host="video.liberta.vip" />
                <data android:host="video.libreti.net" />
                <data android:host="video.liveitlive.show" />
                <data android:host="video.lolihouse.top" />
                <data android:host="video.lono.space" />
                <data android:host="video.lqdn.fr" />
                <data android:host="video.lw1.at" />
                <data android:host="video.lycee-experimental.org" />
                <data android:host="video.maechler.cloud" />
                <data android:host="video.marcorennmaus.de" />
                <data android:host="video.mikepj.dev" />
                <data android:host="video.millironx.com" />
                <data android:host="video.mondoweiss.net" />
                <data android:host="video.monsieurbidouille.fr" />
                <data android:host="video.motoreitaliacarlonegri.it" />
                <data android:host="video.mttv.it" />
                <data android:host="video.mxtthxw.art" />
                <data android:host="video.na-prostem.si" />
                <data android:host="video.netsyms.com" />
                <data android:host="video.nogafam.es" />
                <data android:host="video.olos311.org" />
                <data android:host="video.omada.cafe" />
                <data android:host="video.onjase.quebec" />
                <data android:host="video.osgeo.org" />
                <data android:host="video.pizza.ynh.fr" />
                <data android:host="video.ploss-ra.fr" />
                <data android:host="video.ploud.fr" />
                <data android:host="video.ploud.jp" />
                <data android:host="video.potatoenergy.ru" />
                <data android:host="video.pronkiewicz.pl" />
                <data android:host="video.retroedge.tech" />
                <data android:host="video.rhizome.org" />
                <data android:host="video.silex.me" />
                <data android:host="video.snug.moe" />
                <data android:host="video.starysacz.um.gov.pl" />
                <data android:host="video.surazal.net" />
                <data android:host="video.tedomum.net" />
                <data android:host="video.telemillevaches.net" />
                <data android:host="video.the-nutrivore.social" />
                <data android:host="video.thomaspreece.net" />
                <data android:host="video.thoshis.net" />
                <data android:host="video.tkz.es" />
                <data android:host="video.wakkeren.nl" />
                <data android:host="video.wszystkoconajwazniejsze.pl" />
                <data android:host="video.xmpp-it.net" />
                <data android:host="video.xorp.hu" />
                <data android:host="video.ziez.eu" />
                <data android:host="video.zonawarpa.it" />
                <data android:host="video2.echelon.pl" />
                <data android:host="videohaven.com" />
                <data android:host="videos-passages.huma-num.fr" />
                <data android:host="videos.aadtp.be" />
                <data android:host="videos.adhocmusic.com" />
                <data android:host="videos.buzzkill.pw" />
                <data android:host="videos.cemea.org" />
                <data android:host="videos.danksquad.org" />
                <data android:host="videos.draculo.net" />
                <data android:host="videos.dromeadhere.fr" />
                <data android:host="videos.explain-it.org" />
                <data android:host="videos.figucarolina.org" />
                <data android:host="videos.foilen.com" />
                <data android:host="videos.gamercast.net" />
                <data android:host="videos.gianmarco.gg" />
                <data android:host="videos.globenet.org" />
                <data android:host="videos.hardcoredevs.com" />
                <data android:host="videos.icum.to" />
                <data android:host="videos.idiocy.xyz" />
                <data android:host="videos.jevalide.ca" />
                <data android:host="videos.laliguepaysdelaloire.org" />
                <data android:host="videos.lemouvementassociatif-pdl.org" />
                <data android:host="videos.lescommuns.org" />
                <data android:host="videos.librescrum.org" />
                <data android:host="videos.luke.killarny.net" />
                <data android:host="videos.lukesmith.xyz" />
                <data android:host="videos.lyricaltokarev.com" />
                <data android:host="videos.miolo.org" />
                <data android:host="videos.mykdeen.com" />
                <data android:host="videos.offroad.town" />
                <data android:host="videos.pair2jeux.tube" />
                <data android:host="videos.pkutalk.com" />
                <data android:host="videos.ritimo.org" />
                <data android:host="videos.scanlines.xyz" />
                <data android:host="videos.shendrick.net" />
                <data android:host="videos.shmalls.pw" />
                <data android:host="videos.supertuxkart.net" />
                <data android:host="videos.tcit.fr" />
                <data android:host="videos.thegreenwizard.win" />
                <data android:host="videos.viorsan.com" />
                <data android:host="videoteca.kenobit.it" />
                <data android:host="vidolux.eu" />
                <data android:host="vids.tekdmn.me" />
                <data android:host="vigilante.tv" />
                <data android:host="vn.zohup.net" />
                <data android:host="vn.zohup.top" />
                <data android:host="vod.ksite.de" />
                <data android:host="vtr.chikichiki.tube" />
                <data android:host="watch.goodluckgabe.life" />
                <data android:host="watch.softinio.com" />
                <data android:host="weare.dcnh.tv" />
                <data android:host="webtv.vandoeuvre.net" />
                <data android:host="widemus.de" />
                <data android:host="wiwi.video" />
                <data android:host="www.kotikoff.net" />
                <data android:host="www.piratentube.de" />
                <data android:host="www.vev.su" />
                <data android:host="www.vnchich.top" />
                <data android:host="www.vnshow.net" />
                <data android:host="yt.orokoro.ru" />
                <data android:host="yuitobe.wikiwiki.li" />
            </intent-filter>
        </activity>
    </application>
</manifest>