<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="dev.zwander.shared.RedirectActivity"
            android:exported="true">
            <intent-filter android:label="@string/protocol_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="web+peertube" />
            </intent-filter>
            <intent-filter android:label="@string/http_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />

                <data android:host="2tonwaffle.tv" />
                <data android:host="810video.com" />
                <data android:host="alterscope.fr" />
                <data android:host="andyrush.fedihost.io" />
                <data android:host="aperi.tube" />
                <data android:host="archive.hitness.club" />
                <data android:host="arkm.tv" />
                <data android:host="arson.video" />
                <data android:host="astrotube-ufe.obspm.fr" />
                <data android:host="astrotube.obspm.fr" />
                <data android:host="avantwhatever.xyz" />
                <data android:host="avone.me" />
                <data android:host="bava.tv" />
                <data android:host="bee-tube.fr" />
                <data android:host="bengo.tube" />
                <data android:host="beta.flimmerstunde.xyz" />
                <data android:host="bideoak.argia.eus" />
                <data android:host="bideoak.zeorri.eus" />
                <data android:host="bitube.ict-battenberg.ch" />
                <data android:host="bonn.video" />
                <data android:host="cast.garden" />
                <data android:host="cdn7.dns04.com" />
                <data android:host="cfnumerique.tv" />
                <data android:host="channel.t25b.com" />
                <data android:host="christunscripted.com" />
                <data android:host="classe.iro.umontreal.ca" />
                <data android:host="clip.place" />
                <data android:host="cuddly.tube" />
                <data android:host="cumraci.tv" />
                <data android:host="dalliance.network" />
                <data android:host="dangly.parts" />
                <data android:host="davbot.media" />
                <data android:host="digitalcourage.video" />
                <data android:host="dioxitube.com" />
                <data android:host="dreiecksnebel.alex-detsch.de" />
                <data android:host="earthclimate.tv" />
                <data android:host="earthshiptv.nl" />
                <data android:host="eggflix.foolbazar.eu" />
                <data android:host="exode.me" />
                <data android:host="fair.tube" />
                <data android:host="fedi.video" />
                <data android:host="fightforinfo.com" />
                <data android:host="film.node9.org" />
                <data android:host="firehawks.htown.de" />
                <data android:host="fontube.fr" />
                <data android:host="foss.video" />
                <data android:host="freedomtv.pro" />
                <data android:host="friprogramvarusyndikatet.tv" />
                <data android:host="fstube.net" />
                <data android:host="garr.tv" />
                <data android:host="gas.tube.sh" />
                <data android:host="gegenstimme.tv" />
                <data android:host="greatview.video" />
                <data android:host="grypstube.uni-greifswald.de" />
                <data android:host="gultsch.video" />
                <data android:host="handcuffedgirls.me" />
                <data android:host="ibbwstream.schule-bw.de" />
                <data android:host="indymotion.fr" />
                <data android:host="intelligentia.tv" />
                <data android:host="irrsinn.video" />
                <data android:host="joovideo.cfd" />
                <data android:host="k-pop.22x22.ru" />
                <data android:host="kadras.live" />
                <data android:host="kolektiva.media" />
                <data android:host="koreus.tv" />
                <data android:host="librepoop.de" />
                <data android:host="live.solari.com" />
                <data android:host="live.zawiya.one" />
                <data android:host="lone.earth" />
                <data android:host="m.bbbdn.jp" />
                <data android:host="media.cooleysekula.net" />
                <data android:host="media.curious.bio" />
                <data android:host="media.mwit.ac.th" />
                <data android:host="media.nolog.cz" />
                <data android:host="media.notfunk.radio" />
                <data android:host="media.smz-ma.de" />
                <data android:host="media.undeadnetwork.de" />
                <data android:host="mediathek.rzgierskopp.de" />
                <data android:host="meyon.com.ye" />
                <data android:host="monitor.grossermensch.eu" />
                <data android:host="movie.nael-brun.com" />
                <data android:host="mv.vannilla.org" />
                <data android:host="my-sunshine.video" />
                <data android:host="mytube.cooltux.net" />
                <data android:host="neat.tube" />
                <data android:host="nekopunktube.fr" />
                <data android:host="neon.cybre.stream" />
                <data android:host="nicecrew.tv" />
                <data android:host="nightshift.minnix.dev" />
                <data android:host="ontvkorea.com" />
                <data android:host="openmedia.edunova.it" />
                <data android:host="outcast.am" />
                <data android:host="ovaltube.codinglab.ch" />
                <data android:host="p.lu" />
                <data android:host="p.nintendojo.fr" />
                <data android:host="partners.eqtube.org" />
                <data android:host="peer.acidfog.com" />
                <data android:host="peer.pvddhhnk.nl" />
                <data android:host="peer.raise-uav.com" />
                <data android:host="peertube-demo.lern.link" />
                <data android:host="peertube-ecogather-u20874.vm.elestio.app" />
                <data android:host="peertube.1312.media" />
                <data android:host="peertube.anasodon.com" />
                <data android:host="peertube.anon-kenkai.com" />
                <data android:host="peertube.apcraft.jp" />
                <data android:host="peertube.arnhome.ovh" />
                <data android:host="peertube.art3mis.de" />
                <data android:host="peertube.astrolabe.coop" />
                <data android:host="peertube.baptistentiel.nl" />
                <data android:host="peertube.bildung-ekhn.de" />
                <data android:host="peertube.bingo-ev.de" />
                <data android:host="peertube.boc47.org" />
                <data android:host="peertube.boger.dev" />
                <data android:host="peertube.ch" />
                <data android:host="peertube.chartilacorp.ru" />
                <data android:host="peertube.chir.rs" />
                <data android:host="peertube.chuggybumba.com" />
                <data android:host="peertube.cirkau.art" />
                <data android:host="peertube.cloud.nerdraum.de" />
                <data android:host="peertube.cluster.wtf" />
                <data android:host="peertube.cocamserverguild.com" />
                <data android:host="peertube.cpy.re" />
                <data android:host="peertube.crans.org" />
                <data android:host="peertube.designersethiques.org" />
                <data android:host="peertube.dixvaha.com" />
                <data android:host="peertube.ecologie.bzh" />
                <data android:host="peertube.education-forum.com" />
                <data android:host="peertube.eqver.se" />
                <data android:host="peertube.ethibox.fr" />
                <data android:host="peertube.eu.org" />
                <data android:host="peertube.existiert.ch" />
                <data android:host="peertube.familie-berner.de" />
                <data android:host="peertube.gaialabs.ch" />
                <data android:host="peertube.gegeweb.eu" />
                <data android:host="peertube.gemlog.ca" />
                <data android:host="peertube.get-racing.de" />
                <data android:host="peertube.giftedmc.com" />
                <data android:host="peertube.graafschapcollege.nl" />
                <data android:host="peertube.guillaumeleguen.xyz" />
                <data android:host="peertube.hackerfoo.com" />
                <data android:host="peertube.headcrashing.eu" />
                <data android:host="peertube.heise.de" />
                <data android:host="peertube.helvetet.eu" />
                <data android:host="peertube.hyperfreedom.org" />
                <data android:host="peertube.ichigo.everydayimshuflin.com" />
                <data android:host="peertube.in.ua" />
                <data android:host="peertube.inparadise.se" />
                <data android:host="peertube.intrapology.com" />
                <data android:host="peertube.jarmvl.net" />
                <data android:host="peertube.jmsquared.net" />
                <data android:host="peertube.june.ie" />
                <data android:host="peertube.kaleidos.net" />
                <data android:host="peertube.katholisch.social" />
                <data android:host="peertube.kawateam.fr" />
                <data android:host="peertube.kleph.eu" />
                <data android:host="peertube.koolenboer.synology.me" />
                <data android:host="peertube.laas.fr" />
                <data android:host="peertube.lab.how" />
                <data android:host="peertube.lagvoid.com" />
                <data android:host="peertube.lanterne-rouge.info" />
                <data android:host="peertube.laveinal.cat" />
                <data android:host="peertube.le-cem.com" />
                <data android:host="peertube.lhc.lu" />
                <data android:host="peertube.lhc.net.br" />
                <data android:host="peertube.li" />
                <data android:host="peertube.libresolutions.network" />
                <data android:host="peertube.libretic.fr" />
                <data android:host="peertube.linagora.com" />
                <data android:host="peertube.local.tilera.xyz" />
                <data android:host="peertube.lyceeconnecte.fr" />
                <data android:host="peertube.martiabernathey.com" />
                <data android:host="peertube.marud.fr" />
                <data android:host="peertube.meditationsteps.org" />
                <data android:host="peertube.mesnumeriques.fr" />
                <data android:host="peertube.mgtow.pl" />
                <data android:host="peertube.msal.ru" />
                <data android:host="peertube.musicstudio.pro" />
                <data android:host="peertube.nadeko.net" />
                <data android:host="peertube.nicolastissot.fr" />
                <data android:host="peertube.no" />
                <data android:host="peertube.officebot.io" />
                <data android:host="peertube.openstreetmap.fr" />
                <data android:host="peertube.orderi.co" />
                <data android:host="peertube.otakufarms.com" />
                <data android:host="peertube.paladyn.org" />
                <data android:host="peertube.pcservice46.fr" />
                <data android:host="peertube.pix-n-chill.fr" />
                <data android:host="peertube.plataformess.org" />
                <data android:host="peertube.pnpde.social" />
                <data android:host="peertube.pp.ua" />
                <data android:host="peertube.protagio.org" />
                <data android:host="peertube.qontinuum.space" />
                <data android:host="peertube.r2.enst.fr" />
                <data android:host="peertube.ra.no" />
                <data android:host="peertube.researchinstitute.at" />
                <data android:host="peertube.satoshishop.de" />
                <data android:host="peertube.scapior.dev" />
                <data android:host="peertube.semperpax.com" />
                <data android:host="peertube.sensin.eu" />
                <data android:host="peertube.spaceships.me" />
                <data android:host="peertube.stattzeitung.org" />
                <data android:host="peertube.staudt.bayern" />
                <data android:host="peertube.stream" />
                <data android:host="peertube.swarm.solvingmaz.es" />
                <data android:host="peertube.takeko.cyou" />
                <data android:host="peertube.tspu.ru" />
                <data android:host="peertube.unixweb.net" />
                <data android:host="peertube.uno" />
                <data android:host="peertube.vanderb.net" />
                <data android:host="peertube.waldstepperbu.de" />
                <data android:host="peertube.we-keys.fr" />
                <data android:host="peertube.winscloud.net" />
                <data android:host="peertube.xrcb.cat" />
                <data android:host="peertube.xwiki.com" />
                <data android:host="peertube.zalasur.media" />
                <data android:host="peertube.zanoni.top" />
                <data android:host="peertube400.pocketnet.app" />
                <data android:host="phijkchu.com" />
                <data android:host="phoenixproject.group" />
                <data android:host="piped.chrisco.me" />
                <data android:host="po0.online" />
                <data android:host="poast.tv" />
                <data android:host="pon.tv" />
                <data android:host="portal.digilab.nfa.cz" />
                <data android:host="prtb.komaniya.work" />
                <data android:host="pt.erb.pw" />
                <data android:host="pt.gordons.gen.nz" />
                <data android:host="pt.mezzo.moe" />
                <data android:host="pt.minhinprom.ru" />
                <data android:host="pt.oops.wtf" />
                <data android:host="pt.sarahgebauer.com" />
                <data android:host="pt.scrunkly.cat" />
                <data android:host="pt.thishorsie.rocks" />
                <data android:host="pt01.lehrerfortbildung-bw.de" />
                <data android:host="publicvideo.nl" />
                <data android:host="puppet.zone" />
                <data android:host="rankett.net" />
                <data android:host="reallibertymedia.xyz" />
                <data android:host="s1.vnchich.vip" />
                <data android:host="see.ellipsenpark.de" />
                <data android:host="seka.pona.la" />
                <data android:host="sfba.video" />
                <data android:host="share.tube" />
                <data android:host="site.csptube.au" />
                <data android:host="sizetube.com" />
                <data android:host="skeptikon.fr" />
                <data android:host="softlyspoken.taylormadetech.dev" />
                <data android:host="solarsystem.video" />
                <data android:host="spectra.video" />
                <data android:host="st.fdel.moe" />
                <data android:host="stillgonnabethere.com" />
                <data android:host="stream.biovisata.lt" />
                <data android:host="stream.gigaohm.bio" />
                <data android:host="stream.indieagora.com" />
                <data android:host="stream.litera.tools" />
                <data android:host="stream.messerli.ch" />
                <data android:host="stream.udk-berlin.de" />
                <data android:host="streamsource.video" />
                <data android:host="studio.lrnz.it" />
                <data android:host="subscribeto.me" />
                <data android:host="techlore.tv" />
                <data android:host="teregarde.icu" />
                <data android:host="tiktube.com" />
                <data android:host="tilvids.com" />
                <data android:host="titannebula.com" />
                <data android:host="tube-cycle-2.apps.education.fr" />
                <data android:host="tube-cycle-3.apps.education.fr" />
                <data android:host="tube.2hyze.de" />
                <data android:host="tube.3xd.eu" />
                <data android:host="tube.adriansnetwork.org" />
                <data android:host="tube.alado.space" />
                <data android:host="tube.alphonso.fr" />
                <data android:host="tube.anjara.eu" />
                <data android:host="tube.aquilenet.fr" />
                <data android:host="tube.auengun.net" />
                <data android:host="tube.azbyka.ru" />
                <data android:host="tube.balamb.fr" />
                <data android:host="tube.bawü.social" />
                <data android:host="tube.beit.hinrichs.cc" />
                <data android:host="tube.bigpicture.watch" />
                <data android:host="tube.blahaj.zone" />
                <data android:host="tube.blueben.net" />
                <data android:host="tube.bstly.de" />
                <data android:host="tube.crapaud-fou.org" />
                <data android:host="tube.croustifed.net" />
                <data android:host="tube.cyano.at" />
                <data android:host="tube.cybertopia.xyz" />
                <data android:host="tube.ddtbanaketak.com" />
                <data android:host="tube.deadtom.me" />
                <data android:host="tube.distrilab.fr" />
                <data android:host="tube.doortofreedom.org" />
                <data android:host="tube.ebin.club" />
                <data android:host="tube.eggmoe.de" />
                <data android:host="tube.erzbistum-hamburg.de" />
                <data android:host="tube.extinctionrebellion.fr" />
                <data android:host="tube.fdn.fr" />
                <data android:host="tube.fede.re" />
                <data android:host="tube.fediverse.games" />
                <data android:host="tube.felinn.org" />
                <data android:host="tube.friloux.me" />
                <data android:host="tube.funil.de" />
                <data android:host="tube.futuretic.fr" />
                <data android:host="tube.ggbox.fr" />
                <data android:host="tube.ghk-academy.info" />
                <data android:host="tube.hadan.social" />
                <data android:host="tube.hoga.fr" />
                <data android:host="tube.infrarotmedien.de" />
                <data android:host="tube.inlinestyle.it" />
                <data android:host="tube.io18.eu" />
                <data android:host="tube.jeena.net" />
                <data android:host="tube.jlserver.de" />
                <data android:host="tube.juerge.nz" />
                <data android:host="tube.kansanvalta.org" />
                <data android:host="tube.kavocado.net" />
                <data android:host="tube.kh-berlin.de" />
                <data android:host="tube.kla.tv" />
                <data android:host="tube.laurent-malys.fr" />
                <data android:host="tube.le-gurk.de" />
                <data android:host="tube.lubakiagenda.net" />
                <data android:host="tube.matrix.rocks" />
                <data android:host="tube.midov.pl" />
                <data android:host="tube.midwaytrades.com" />
                <data android:host="tube.moep.tv" />
                <data android:host="tube.oisux.org" />
                <data android:host="tube.onlinekirche.net" />
                <data android:host="tube.other.li" />
                <data android:host="tube.p2p.legal" />
                <data android:host="tube.pari.cafe" />
                <data android:host="tube.picasoft.net" />
                <data android:host="tube.pifferi.io" />
                <data android:host="tube.pol.social" />
                <data android:host="tube.polytech-reseau.org" />
                <data android:host="tube.portes-imaginaire.org" />
                <data android:host="tube.raccoon.quest" />
                <data android:host="tube.rdan.net" />
                <data android:host="tube.rebellion.global" />
                <data android:host="tube.revertron.com" />
                <data android:host="tube.rhythms-of-resistance.org" />
                <data android:host="tube.rooty.fr" />
                <data android:host="tube.rsi.cnr.it" />
                <data android:host="tube.ryne.moe" />
                <data android:host="tube.schule.social" />
                <data android:host="tube.sekretaerbaer.net" />
                <data android:host="tube.shela.nu" />
                <data android:host="tube.sinux.pl" />
                <data android:host="tube.solidairesfinancespubliques.org" />
                <data android:host="tube.sp-codes.de" />
                <data android:host="tube.spdns.org" />
                <data android:host="tube.ssh.club" />
                <data android:host="tube.swee.codes" />
                <data android:host="tube.systerserver.net" />
                <data android:host="tube.taker.fr" />
                <data android:host="tube.taz.de" />
                <data android:host="tube.techeasy.org" />
                <data android:host="tube.teqqy.social" />
                <data android:host="tube.theplattform.net" />
                <data android:host="tube.tinfoil-hat.net" />
                <data android:host="tube.unif.app" />
                <data android:host="tube.vencabot.com" />
                <data android:host="tube.vrpnet.org" />
                <data android:host="tube.waag.org" />
                <data android:host="tube.xrtv.nl" />
                <data android:host="tube4.apolut.net" />
                <data android:host="tubedu.org" />
                <data android:host="tubefree.org" />
                <data android:host="tueb.telent.net" />
                <data android:host="tv.anarchy.bg" />
                <data android:host="tv.arns.lt" />
                <data android:host="tv.cuates.net" />
                <data android:host="tv.dyne.org" />
                <data android:host="tv.filmfreedom.net" />
                <data android:host="tv.gravitons.org" />
                <data android:host="tv.kobold-cave.eu" />
                <data android:host="tv.nizika.tv" />
                <data android:host="tv.suwerenni.org" />
                <data android:host="urbanists.video" />
                <data android:host="utube.ro" />
                <data android:host="v.kretschmann.social" />
                <data android:host="v.ocsf.in" />
                <data android:host="v0.trm.md" />
                <data android:host="v1.smartit.nu" />
                <data android:host="veedeo.org" />
                <data android:host="vhsky.cz" />
                <data android:host="vid.cthos.dev" />
                <data android:host="vid.jittr.click" />
                <data android:host="vid.kinuseka.us" />
                <data android:host="vid.mawuki.de" />
                <data android:host="vid.northbound.online" />
                <data android:host="vid.perditum.com" />
                <data android:host="vid.pretok.tv" />
                <data android:host="vid.samtripoli.com" />
                <data android:host="vid.shadowkat.net" />
                <data android:host="vid.sofita.noho.st" />
                <data android:host="vid.zeroes.ca" />
                <data android:host="video.076.moe" />
                <data android:host="video.383.su" />
                <data android:host="video.4d2.org" />
                <data android:host="video.abraum.de" />
                <data android:host="video.akk.moe" />
                <data android:host="video.anaproy.nl" />
                <data android:host="video.anartist.org" />
                <data android:host="video.angrynerdspodcast.nl" />
                <data android:host="video.apz.fi" />
                <data android:host="video.archive.bumblefudge.com" />
                <data android:host="video.aria.dog" />
                <data android:host="video.baez.io" />
                <data android:host="video.benetou.fr" />
                <data android:host="video.blinkyparts.com" />
                <data android:host="video.brothertec.eu" />
                <data android:host="video.canadiancivil.com" />
                <data android:host="video.canc.at" />
                <data android:host="video.cartoon-aa.xyz" />
                <data android:host="video.cnr.it" />
                <data android:host="video.coffeebean.social" />
                <data android:host="video.colibris-outilslibres.org" />
                <data android:host="video.collectifpinceoreilles.com" />
                <data android:host="video.d20.social" />
                <data android:host="video.davejansen.com" />
                <data android:host="video.dlearning.nl" />
                <data android:host="video.echelon.pl" />
                <data android:host="video.echirolles.fr" />
                <data android:host="video.edu.nl" />
                <data android:host="video.eientei.org" />
                <data android:host="video.elfhosted.com" />
                <data android:host="video.europalestine.com" />
                <data android:host="video.exon.name" />
                <data android:host="video.expiredpopsicle.com" />
                <data android:host="video.fabriquedelatransition.fr" />
                <data android:host="video.fedihost.co" />
                <data android:host="video.fhtagn.org" />
                <data android:host="video.firehawk-systems.com" />
                <data android:host="video.firesidefedi.live" />
                <data android:host="video.fosshq.org" />
                <data android:host="video.franzgraf.de" />
                <data android:host="video.fredix.xyz" />
                <data android:host="video.gamerstavern.online" />
                <data android:host="video.gemeinde-pflanzen.net" />
                <data android:host="video.graine-pdl.org" />
                <data android:host="video.gresille.org" />
                <data android:host="video.hacklab.fi" />
                <data android:host="video.hardlimit.com" />
                <data android:host="video.holtwick.de" />
                <data android:host="video.infiniteloop.tv" />
                <data android:host="video.infosec.exchange" />
                <data android:host="video.internet-czas-dzialac.pl" />
                <data android:host="video.jigmedatse.com" />
                <data android:host="video.katehildenbrand.com" />
                <data android:host="video.kinkyboyspodcast.com" />
                <data android:host="video.lacalligramme.fr" />
                <data android:host="video.lamer-ethos.site" />
                <data android:host="video.laraffinerie.re" />
                <data android:host="video.lemediatv.fr" />
                <data android:host="video.liberta.vip" />
                <data android:host="video.libreti.net" />
                <data android:host="video.lono.space" />
                <data android:host="video.lqdn.fr" />
                <data android:host="video.manu.quebec" />
                <data android:host="video.marcorennmaus.de" />
                <data android:host="video.mikepj.dev" />
                <data android:host="video.millironx.com" />
                <data android:host="video.mondoweiss.net" />
                <data android:host="video.monsieurbidouille.fr" />
                <data android:host="video.motoreitaliacarlonegri.it" />
                <data android:host="video.mpei.ru" />
                <data android:host="video.mshparisnord.fr" />
                <data android:host="video.mttv.it" />
                <data android:host="video.mxtthxw.art" />
                <data android:host="video.ngi.eu" />
                <data android:host="video.olos311.org" />
                <data android:host="video.omada.cafe" />
                <data android:host="video.osgeo.org" />
                <data android:host="video.ourcommon.cloud" />
                <data android:host="video.outputarts.com" />
                <data android:host="video.pizza.ynh.fr" />
                <data android:host="video.ploud.fr" />
                <data android:host="video.ploud.jp" />
                <data android:host="video.procolix.eu" />
                <data android:host="video.pronkiewicz.pl" />
                <data android:host="video.querdenken-711.de" />
                <data android:host="video.retroedge.tech" />
                <data android:host="video.rhizome.org" />
                <data android:host="video.root66.net" />
                <data android:host="video.sadrarin.com" />
                <data android:host="video.sanin.dev" />
                <data android:host="video.sidh.bzh" />
                <data android:host="video.silex.me" />
                <data android:host="video.snug.moe" />
                <data android:host="video.sorokin.music" />
                <data android:host="video.source.pub" />
                <data android:host="video.starysacz.um.gov.pl" />
                <data android:host="video.stevesworld.co" />
                <data android:host="video.tedomum.net" />
                <data android:host="video.telemillevaches.net" />
                <data android:host="video.thoshis.net" />
                <data android:host="video.tkz.es" />
                <data android:host="video.turbo-kermis.fr" />
                <data android:host="video.typesafe.org" />
                <data android:host="video.uweb.ch" />
                <data android:host="video.voiceover.bar" />
                <data android:host="video.xorp.hu" />
                <data android:host="video.zlinux.ru" />
                <data android:host="video.zonawarpa.it" />
                <data android:host="video01.imghost.club" />
                <data android:host="video02.imghost.club" />
                <data android:host="video03.imghost.club" />
                <data android:host="video04.imghost.club" />
                <data android:host="video05.imghost.club" />
                <data android:host="video06.imghost.club" />
                <data android:host="videohaven.com" />
                <data android:host="videos-passages.huma-num.fr" />
                <data android:host="videos.abnormalbeings.space" />
                <data android:host="videos.adhocmusic.com" />
                <data android:host="videos.apprendre-delphi.fr" />
                <data android:host="videos.cemea.org" />
                <data android:host="videos.devteams.at" />
                <data android:host="videos.dromeadhere.fr" />
                <data android:host="videos.elenarossini.com" />
                <data android:host="videos.erg.be" />
                <data android:host="videos.fairetilt.co" />
                <data android:host="videos.figucarolina.org" />
                <data android:host="videos.foilen.com" />
                <data android:host="videos.gamolf.fr" />
                <data android:host="videos.gianmarco.gg" />
                <data android:host="videos.globenet.org" />
                <data android:host="videos.gnieh.org" />
                <data android:host="videos.jevalide.ca" />
                <data android:host="videos.lacontrevoie.fr" />
                <data android:host="videos.lescommuns.org" />
                <data android:host="videos.librescrum.org" />
                <data android:host="videos.livewyre.org" />
                <data android:host="videos.lukesmith.xyz" />
                <data android:host="videos.mgnosv.org" />
                <data android:host="videos.miolo.org" />
                <data android:host="videos.nerdout.online" />
                <data android:host="videos.pair2jeux.tube" />
                <data android:host="videos.ritimo.org" />
                <data android:host="videos.rossmanngroup.com" />
                <data android:host="videos.scanlines.xyz" />
                <data android:host="videos.shendrick.net" />
                <data android:host="videos.shmalls.pw" />
                <data android:host="videos.spacebar.ca" />
                <data android:host="videos.spacefun.ch" />
                <data android:host="videos.supertuxkart.net" />
                <data android:host="videos.tcit.fr" />
                <data android:host="videos.tfcconnection.org" />
                <data android:host="videos.triceraprog.fr" />
                <data android:host="videos.tusnio.me" />
                <data android:host="videos.weaponisedautism.com" />
                <data android:host="videoteca.kenobit.it" />
                <data android:host="videotvlive.nemethstarproductions.eu" />
                <data android:host="videowisent.maw.best" />
                <data android:host="viditube.site" />
                <data android:host="views.southfox.me" />
                <data android:host="vigilante.tv" />
                <data android:host="vn.jvideos.top" />
                <data android:host="vn.zohup.net" />
                <data android:host="volk.love" />
                <data android:host="voluntarytube.com" />
                <data android:host="vtr.chikichiki.tube" />
                <data android:host="vulgarisation-informatique.fr" />
                <data android:host="vuna.no" />
                <data android:host="watch.authenticvision.online" />
                <data android:host="watch.bojidar-bg.dev" />
                <data android:host="watch.easya.solutions" />
                <data android:host="watch.goodluckgabe.life" />
                <data android:host="watch.littleshyfim.com" />
                <data android:host="watch.softinio.com" />
                <data android:host="we.haydn.rocks" />
                <data android:host="webtv.vandoeuvre.net" />
                <data android:host="widemus.de" />
                <data android:host="wiwi.video" />
                <data android:host="woodland.video" />
                <data android:host="wur.pm" />
                <data android:host="www.jvideos.top" />
                <data android:host="www.zohup.link" />
                <data android:host="x.vnchich.vip" />
                <data android:host="x.zohup.top" />
                <data android:host="ysm.info" />
                <data android:host="yt.orokoro.ru" />
            </intent-filter>
        </activity>
    </application>
</manifest>