<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name="dev.zwander.shared.RedirectActivity"
            android:exported="true">
            <intent-filter android:label="@string/protocol_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="web+peertube" />
            </intent-filter>
            <intent-filter android:label="@string/http_filter">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />

                <data android:host="area51.media" />
                <data android:host="bestgore.fun" />
                <data android:host="beta.flimmerstunde.xyz" />
                <data android:host="bideoak.argia.eus" />
                <data android:host="birdtu.be" />
                <data android:host="bitcointv.com" />
                <data android:host="callmeplayer.com" />
                <data android:host="cdn01.tilvids.com" />
                <data android:host="clips.crcmz.me" />
                <data android:host="conf.tube" />
                <data android:host="dangly.parts" />
                <data android:host="dioxitube.com" />
                <data android:host="edflix.nl" />
                <data android:host="exatas.tv" />
                <data android:host="exode.me" />
                <data android:host="fedifilm.com" />
                <data android:host="fediverse.tv" />
                <data android:host="fightforinfo.com" />
                <data android:host="flipboard.video" />
                <data android:host="flooftube.net" />
                <data android:host="fontube.fr" />
                <data android:host="freedom.fossfarmers.company" />
                <data android:host="freesoto.tv" />
                <data android:host="freestreamer.de" />
                <data android:host="friprogramvarusyndikatet.tv" />
                <data android:host="fstube.net" />
                <data android:host="garr.tv" />
                <data android:host="go3.site" />
                <data android:host="gorf.tube" />
                <data android:host="greatview.video" />
                <data android:host="grypstube.uni-greifswald.de" />
                <data android:host="ibbwstream.schule-bw.de" />
                <data android:host="intelligentia.tv" />
                <data android:host="k-pop.22x22.ru" />
                <data android:host="kadras.live" />
                <data android:host="kpop.22x22.ru" />
                <data android:host="kviz.leemoon.network" />
                <data android:host="leffler.video" />
                <data android:host="legumelads.online" />
                <data android:host="live.codinglab.ch" />
                <data android:host="live.dcnh.cloud" />
                <data android:host="live.solari.com" />
                <data android:host="media.cooleysekula.net" />
                <data android:host="media.curious.bio" />
                <data android:host="media.interior.edu.uy" />
                <data android:host="media.theplattform.net" />
                <data android:host="moderndaywizards.org" />
                <data android:host="movie.tkngh.jp" />
                <data android:host="movies.metricsmaster.eu" />
                <data android:host="mtube.mooo.com" />
                <data android:host="mytube.cooltux.net" />
                <data android:host="nanawel-peertube.dyndns.org" />
                <data android:host="nekopunktube.fr" />
                <data android:host="neon.cybre.stream" />
                <data android:host="noagendatube.com" />
                <data android:host="ohayo.rally.guide" />
                <data android:host="openmedia.edunova.it" />
                <data android:host="opentube.rfx.fi" />
                <data android:host="outcast.am" />
                <data android:host="ovaltube.codinglab.ch" />
                <data android:host="peer.acidfog.com" />
                <data android:host="peer.i6p.ru" />
                <data android:host="peer.mrschneeball.xyz" />
                <data android:host="peer.raise-uav.com" />
                <data android:host="peertube-blablalinux.be" />
                <data android:host="peertube.2i2l.net" />
                <data android:host="peertube.anasodon.com" />
                <data android:host="peertube.anti-logic.com" />
                <data android:host="peertube.asp.krakow.pl" />
                <data android:host="peertube.bubuit.net" />
                <data android:host="peertube.casually.cat" />
                <data android:host="peertube.chaunchy.com" />
                <data android:host="peertube.chir.rs" />
                <data android:host="peertube.chuggybumba.com" />
                <data android:host="peertube.cocamserverguild.com" />
                <data android:host="peertube.communecter.org" />
                <data android:host="peertube.dc.pini.fr" />
                <data android:host="peertube.debian.social" />
                <data android:host="peertube.devol.it" />
                <data android:host="peertube.disona.live" />
                <data android:host="peertube.education-forum.com" />
                <data android:host="peertube.eticadigital.eu" />
                <data android:host="peertube.european-pirates.eu" />
                <data android:host="peertube.euskarabildua.eus" />
                <data android:host="peertube.fedi.zutto.fi" />
                <data android:host="peertube.fenarinarsa.com" />
                <data android:host="peertube.florentcurk.com" />
                <data android:host="peertube.fototjansterkalmar.com" />
                <data android:host="peertube.fr" />
                <data android:host="peertube.funkfeuer.at" />
                <data android:host="peertube.gaialabs.ch" />
                <data android:host="peertube.gegeweb.eu" />
                <data android:host="peertube.gidikroon.eu" />
                <data android:host="peertube.giftedmc.com" />
                <data android:host="peertube.hackerfoo.com" />
                <data android:host="peertube.jimchen.me" />
                <data android:host="peertube.kaleidos.net" />
                <data android:host="peertube.laas.fr" />
                <data android:host="peertube.labeuropereunion.eu" />
                <data android:host="peertube.laguixeta.cat" />
                <data android:host="peertube.lagvoid.com" />
                <data android:host="peertube.lhc.net.br" />
                <data android:host="peertube.luga.at" />
                <data android:host="peertube.lyceeconnecte.fr" />
                <data android:host="peertube.martiabernathey.com" />
                <data android:host="peertube.marud.fr" />
                <data android:host="peertube.meditationsteps.org" />
                <data android:host="peertube.noiz.co.za" />
                <data android:host="peertube.otakufarms.com" />
                <data android:host="peertube.pix-n-chill.fr" />
                <data android:host="peertube.r2.enst.fr" />
                <data android:host="peertube.redpill-insight.com" />
                <data android:host="peertube.roundpond.net" />
                <data android:host="peertube.s2s.video" />
                <data android:host="peertube.seceric.io" />
                <data android:host="peertube.semperpax.com" />
                <data android:host="peertube.stattzeitung.org" />
                <data android:host="peertube.takeko.cyou" />
                <data android:host="peertube.techsupporter.net" />
                <data android:host="peertube.teftera.com" />
                <data android:host="peertube.th3rdsergeevich.xyz" />
                <data android:host="peertube.thx8te.kh.ua" />
                <data android:host="peertube.uno" />
                <data android:host="peertube.urkob.com" />
                <data android:host="peertube.vhack.eu" />
                <data android:host="peertube.virtual-assembly.org" />
                <data android:host="peertube.vokunaav.fr" />
                <data android:host="peertube.wtfayla.net" />
                <data android:host="peertube.xrcb.cat" />
                <data android:host="phoenixproject.group" />
                <data android:host="piraten.space" />
                <data android:host="pire.artisanlogiciel.net" />
                <data android:host="po0.online" />
                <data android:host="pointless.tube" />
                <data android:host="portal.digilab.nfa.cz" />
                <data android:host="pt.borgcube.eu" />
                <data android:host="pt.gordons.gen.nz" />
                <data android:host="pt.mezzo.moe" />
                <data android:host="pt.netcraft.ch" />
                <data android:host="pt.sarahgebauer.com" />
                <data android:host="retvrn.tv" />
                <data android:host="s1.vnchich.vip" />
                <data android:host="scitech.video" />
                <data android:host="sdmtube.fr" />
                <data android:host="seka.pona.la" />
                <data android:host="share.tube" />
                <data android:host="skeptube.fr" />
                <data android:host="starlink.p2ptube.us" />
                <data android:host="stray.video" />
                <data android:host="stream.homelab.gabb.fr" />
                <data android:host="stream.litera.tools" />
                <data android:host="stream.nuemedia.se" />
                <data android:host="stream.udk-berlin.de" />
                <data android:host="subscribeto.me" />
                <data android:host="tinsley.video" />
                <data android:host="tube.aquilenet.fr" />
                <data android:host="tube.arthack.nz" />
                <data android:host="tube.azbyka.ru" />
                <data android:host="tube.bawü.social" />
                <data android:host="tube.buchstoa-tv.at" />
                <data android:host="tube.calculate.social" />
                <data android:host="tube.chaun14.fr" />
                <data android:host="tube.childrenshealthdefense.eu" />
                <data android:host="tube.chispa.fr" />
                <data android:host="tube.dembased.xyz" />
                <data android:host="tube.doctors4covidethics.org" />
                <data android:host="tube.doortofreedom.org" />
                <data android:host="tube.erzbistum-hamburg.de" />
                <data android:host="tube.fdn.fr" />
                <data android:host="tube.fede.re" />
                <data android:host="tube.friloux.me" />
                <data android:host="tube.fulda.social" />
                <data android:host="tube.hoga.fr" />
                <data android:host="tube.jeena.net" />
                <data android:host="tube.kai-stuht.com" />
                <data android:host="tube.kekmahub.com" />
                <data android:host="tube.kh-berlin.de" />
                <data android:host="tube.kla.tv" />
                <data android:host="tube.lokad.com" />
                <data android:host="tube.matrix.rocks" />
                <data android:host="tube.me.jon-e.net" />
                <data android:host="tube.misskey.gg" />
                <data android:host="tube.oisux.org" />
                <data android:host="tube.p2p.legal" />
                <data android:host="tube.pifferi.io" />
                <data android:host="tube.ponsonaille.fr" />
                <data android:host="tube.portes-imaginaire.org" />
                <data android:host="tube.purser.it" />
                <data android:host="tube.raccoon.quest" />
                <data android:host="tube.rebellion.global" />
                <data android:host="tube.rhythms-of-resistance.org" />
                <data android:host="tube.risedsky.ovh" />
                <data android:host="tube.rsi.cnr.it" />
                <data android:host="tube.sasek.tv" />
                <data android:host="tube.shanti.cafe" />
                <data android:host="tube.spdns.org" />
                <data android:host="tube.systerserver.net" />
                <data android:host="tube.techeasy.org" />
                <data android:host="tube.tilera.xyz" />
                <data android:host="tube.uncomfortable.business" />
                <data android:host="tube.vrpnet.org" />
                <data android:host="tube.whytheyfight.com" />
                <data android:host="tubedu.org" />
                <data android:host="tueb.telent.net" />
                <data android:host="tux-edu.tv" />
                <data android:host="tv.anarchy.bg" />
                <data android:host="tv.based.quest" />
                <data android:host="tv.cuates.net" />
                <data android:host="tv.dyne.org" />
                <data android:host="tv.farewellutopia.com" />
                <data android:host="tv.filmfreedom.net" />
                <data android:host="tv.nizika.tv" />
                <data android:host="tv.santic-zombie.ru" />
                <data android:host="tv.suwerenni.org" />
                <data android:host="tv.undersco.re" />
                <data android:host="tvox.ru" />
                <data android:host="v1.smartit.nu" />
                <data android:host="veedeo.org" />
                <data android:host="vid.cthos.dev" />
                <data android:host="vid.fossdle.org" />
                <data android:host="vid.jittr.click" />
                <data android:host="vid.mkp.ca" />
                <data android:host="vid.pretok.tv" />
                <data android:host="vid.samtripoli.com" />
                <data android:host="vid.wildeboer.net" />
                <data android:host="video-liberty.com" />
                <data android:host="video.1146.nohost.me" />
                <data android:host="video.amiga-ng.org" />
                <data android:host="video.angrynerdspodcast.nl" />
                <data android:host="video.arghacademy.org" />
                <data android:host="video.benetou.fr" />
                <data android:host="video.bgeneric.net" />
                <data android:host="video.blazma.st" />
                <data android:host="video.blender.org" />
                <data android:host="video.cnr.it" />
                <data android:host="video.coales.co" />
                <data android:host="video.coffeebean.social" />
                <data android:host="video.dlearning.nl" />
                <data android:host="video.echelon.pl" />
                <data android:host="video.eientei.org" />
                <data android:host="video.eradicatinglove.xyz" />
                <data android:host="video.europalestine.com" />
                <data android:host="video.expiredpopsicle.com" />
                <data android:host="video.fabriquedelatransition.fr" />
                <data android:host="video.fhtagn.org" />
                <data android:host="video.firehawk-systems.com" />
                <data android:host="video.g3l.org" />
                <data android:host="video.gemeinde-pflanzen.net" />
                <data android:host="video.hardlimit.com" />
                <data android:host="video.icic.law" />
                <data android:host="video.infojournal.fr" />
                <data android:host="video.interru.io" />
                <data android:host="video.ipng.ch" />
                <data android:host="video.jadin.me" />
                <data android:host="video.jigmedatse.com" />
                <data android:host="video.lacalligramme.fr" />
                <data android:host="video.lamer-ethos.site" />
                <data android:host="video.libreti.net" />
                <data android:host="video.lolihouse.top" />
                <data android:host="video.marcorennmaus.de" />
                <data android:host="video.millironx.com" />
                <data android:host="video.mondoweiss.net" />
                <data android:host="video.motoreitaliacarlonegri.it" />
                <data android:host="video.ncot.uk" />
                <data android:host="video.occm.cc" />
                <data android:host="video.olos311.org" />
                <data android:host="video.omada.cafe" />
                <data android:host="video.osgeo.org" />
                <data android:host="video.pavel-english.ru" />
                <data android:host="video.ploss-ra.fr" />
                <data android:host="video.pronkiewicz.pl" />
                <data android:host="video.retroedge.tech" />
                <data android:host="video.rhizome.org" />
                <data android:host="video.rlp-media.de" />
                <data android:host="video.tkz.es" />
                <data android:host="video.vegafjord.me" />
                <data android:host="video.wszystkoconajwazniejsze.pl" />
                <data android:host="video.zonawarpa.it" />
                <data android:host="videos.c.lhardy.eu" />
                <data android:host="videos.danksquad.org" />
                <data android:host="videos.draculo.net" />
                <data android:host="videos.dromeadhere.fr" />
                <data android:host="videos.espitallier.net" />
                <data android:host="videos.explain-it.org" />
                <data android:host="videos.figucarolina.org" />
                <data android:host="videos.gianmarco.gg" />
                <data android:host="videos.globenet.org" />
                <data android:host="videos.hardcoredevs.com" />
                <data android:host="videos.jevalide.ca" />
                <data android:host="videos.lescommuns.org" />
                <data android:host="videos.mykdeen.com" />
                <data android:host="videos.ontvkorea.com" />
                <data android:host="videos.pair2jeux.tube" />
                <data android:host="videos.pkutalk.com" />
                <data android:host="videos.scanlines.xyz" />
                <data android:host="videos.shendrick.net" />
                <data android:host="videos.shmalls.pw" />
                <data android:host="videos.thegreenwizard.win" />
                <data android:host="videos.viorsan.com" />
                <data android:host="videoteca.kenobit.it" />
                <data android:host="vids.plan9.rocks" />
                <data android:host="vids.tekdmn.me" />
                <data android:host="vigilante.tv" />
                <data android:host="vn.zohup.top" />
                <data android:host="watch.goodluckgabe.life" />
                <data android:host="watch.nuked.social" />
                <data android:host="watch.softinio.com" />
                <data android:host="widemus.de" />
                <data android:host="www.kotikoff.net" />
                <data android:host="www.piratentube.de" />
                <data android:host="www.vnchich.top" />
                <data android:host="www.vnshow.net" />
                <data android:host="yuitobe.wikiwiki.li" />
            </intent-filter>
        </activity>
    </application>
</manifest>